
@model NovaModaBrecho.Models.Shoe

<div class="details-container">
    <img src="@Model.Url" alt="@Model.Name" class="product-image" />
    <h2>@Model.Name</h2>
    <p><strong>Marca:</strong> @Model.Brand</p>
    <p><strong>Origem:</strong> @Model.Origin</p>
    <p><strong>Tamanho:</strong> @Model.ShoeSize</p>
    <p><strong>Categoria:</strong> @Model.ShoesCategory</p>
    <p><strong>Preço original:</strong> R$ @Model.OriginalPrice.ToString("F2")</p>
    <p><strong>Preço com desconto:</strong> R$ @Model.CalculateDiscountedSalePrice().ToString("F2")</p>
</div>
